.gradient {
    background: linear-gradient(to bottom, #572d6a, #000000);
}

.marginY {
    margin: 0.5rem 0;
}

.marginX {
    margin: 0rem 0.5rem;
}

.widthBtn {
    width: 13rem;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.sideBar {
    width: 20rem;
    padding: 1rem;
}