.gradient {
    background: linear-gradient(to bottom, #572d6a, #000000);
}

.marginY {
    margin: 0.5rem 0;
}

.marginX {
    margin: 0rem 0.5rem;
}

.widthBtn {
    width: 13rem;
}

.button {
    background-color: #6b3fa0;
    color: #fae206;
    border-color: #000000;
    padding: 1rem;
    text-align: left;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.sideBar {
    width: 20rem;
    padding: 1rem;
}